
{% extends 'base.html' %}
{% load static %}
{% block content%}
<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Card Grid -->
    <div class="container content-space-1 content-space-lg-2">
		<div class="row"> 
			<div class="col-lg-3">
				<!-- Navbar -->
				<div class="navbar-expand-lg mb-5">
					<!-- Navbar Toggle -->
					<div class="d-grid">
					  <button type="button" class="navbar-toggler btn btn-white mb-3" data-bs-toggle="collapse" data-bs-target="#navbarVerticalNavMenu" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarVerticalNavMenu">
						<span class="d-flex justify-content-between align-items-center">
						  <span class="text-dark">Filter</span>

						  <span class="navbar-toggler-default">
							<i class="bi-list"></i>
						  </span>

						  <span class="navbar-toggler-toggled">
							<i class="bi-x"></i>
						  </span>
						</span>
					  </button>
					</div>
					<!-- End Navbar Toggle -->

					<!-- Navbar Collapse -->
					<div id="navbarVerticalNavMenu" class="collapse navbar-collapse">
					  <div class="w-100">
						<!-- Form -->
						<form action="" method="post">		
							{% csrf_token %}	
						  <div class="border-bottom pb-4 mb-4">
							<h5>Category</h5>
							
							<div class="d-grid gap-2">
								{% for category in categories%}	  							  
							  <!-- Checkboxes -->
							  <div class="form-check" required>
								<input class="form-check-input" type="checkbox" name="cat" value="1">
								<label class="form-check-label d-flex" name="cat_name">{{category.category_name}}  <span class="ms-auto"></span>({{category.categories.all.count}})
								 </label>
							  </div>
							  <!-- End Checkboxes -->
							  {% endfor %}			  							  
							  <!-- Checkboxes -->
							  <!-- <div class="form-check" required>
								<input class="form-check-input" type="checkbox" name="cat[]" value="2">
								<label class="form-check-label d-flex" >Panatary <span class="ms-auto">(15)</span></label>
							  </div> -->
							  <!-- End Checkboxes -->
							  
							  							  							  
							  <!-- Checkboxes -->
							  <!-- <div class="form-check" required>
								<input class="form-check-input" type="checkbox" name="cat[]" value="3">
								<label class="form-check-label d-flex" >General <span class="ms-auto">(6)</span></label>
							  </div> -->
							  <!-- End Checkboxes -->
							  
							  							  
							  
							</div>
						
							
						  </div>
						  <div class="d-grid mb-2">
							<button class="btn btn-primary rounded-pill btn-sm" type="submit" name="catname">Apply</button>
						  </div>
						  <div class="d-grid mb-2">
							<a type="button" class="btn btn-primary rounded-pill btn-sm" href="product.php">Clear All</a>
						  </div>
						</form>
						
						<!-- End Form -->
					  </div>
					</div>
					<!-- End Navbar Collapse -->
				</div>
				<!-- End Navbar -->
			</div>
			<!-- End Col -->
      
	  
			<div class="col-lg-9">
				<div class="row row-cols-sm-2 row-cols-md-3 mb-10">
					
					
						{% for product in products %}			
					<div class="col mb-4">
						<form action="{% url 'cart_add' product.pk %}" method="post" enctype="multipart/form-data">
							{% csrf_token %}
						  <!-- Card -->
						  <div class="card card-bordered shadow-none text-center h-100">
							
							<div class="card-pinned">
							  <a class="link-sm link-secondary" href="{%url 'product_detail' product.pk %}">
								<img class="card-img-top" src="{{product.product_img.url}}" alt="Image Description">
							  </a>
							  
							</div>

							<div class="card-body">
							  <div class="mb-1">
																<a class="link-sm link-secondary" href="category.php?catid=3">{{product.category}}</a>
							  </div>
							  <a class="text-dark" href="product-overview.php?product=204">{{product.product_name}}</a>
							  <p class="card-text text-body">{{product.quantity_label}}</p>
							  <p class="card-text text-body">${{product.price}}</p>
							</div>
							<input type="hidden" id="productid" name="productid" value="204">
							<div class="card-footer pt-0">
							  <button type="submit" name="AddToCart" class="btn btn-outline-primary btn-sm rounded-pill">Add to cart</button>
							</div>
						  </div>
						  <!-- End Card -->
						  </form>
					</div>
					{% endfor %}
					<!-- End Col -->
									
					
									</div>
				<!-- End Row -->
			</div>	
		</div>
	</div>
	<!-- End Card Grid -->

    

    
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  {% endblock %}