{% extends 'base.html' %}
{% load static %}
{% block content%}
<main id="content" role="main">
	<!-- Hero -->
    <div class="position-relative">
      <!-- Swiper Main Slider -->
      <div class="js-swiper-shop-classic-hero swiper bg-light">
        <div class="swiper-wrapper">
                    

          
        </div>

        <!-- Arrows -->
        <div class="js-swiper-shop-classic-hero-button-next swiper-button-next"></div>
        <div class="js-swiper-shop-classic-hero-button-prev swiper-button-prev"></div>
      </div>
      <!-- End Swiper Main Slider -->

      <!-- Swiper Thumbs Slider -->
      <div class="position-absolute bottom-0 start-0 end-0 mb-3">
        <div class="js-swiper-shop-hero-thumbs swiper" style="max-width: 13rem;">
          <div class="swiper-wrapper">
                        

            
          </div>
        </div>
      </div>
      <!-- End Swiper Thumbs Slider -->
    </div>
    <!-- End Hero -->

    <!-- Icon Blocks -->
    <div class="border-bottom">
      <div class="container content-space-2">
        <div class="row">
          <div class="col-md-4 mb-7 mb-md-0">
            <!-- Icon Block -->
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="avatar avatar-4x3" src="{% static 'assets/svg/illustrations/oc-protected-card.svg' %}" alt="Image Description">
              </div>
              <div class="flex-grow-1 ms-4">
                <h4 class="mb-1">Secure checkout</h4>
                <p class="small mb-0">Guaranteed safe checkout</p>
              </div>
            </div>
            <!-- End Icon Block -->
          </div>
          <!-- End Col -->

          <div class="col-md-4 mb-7 mb-md-0">
            <!-- Icon Block -->
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="avatar avatar-4x3" src="{% static 'assets/svg/illustrations/oc-on-the-go.svg' %}" alt="Image Description">
              </div>
              <div class="flex-grow-1 ms-4">
                <h4 class="mb-1">24×7 Support</h4>
                <p class="small mb-0">We offer you a 24×7 customer support on all purchase.</p>
              </div>
            </div>
            <!-- End Icon Block -->
          </div>
          <!-- End Col -->

          <div class="col-md-4">
            <!-- Icon Block -->
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="avatar avatar-4x3" src="{% static 'assets/svg/illustrations/oc-truck.svg' %}" alt="Image Description">
              </div>
              <div class="flex-grow-1 ms-4">
                <h4 class="mb-1">Free shipping</h4>
                <p class="small mb-0">Automatically receive free standard shipping on every order.</p>
              </div>
            </div>
            <!-- End Icon Block -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- End Icon Blocks -->

    

    

    <!-- Card Grid -->
    <div class="container content-space-2 content-space-lg-3">
      

      <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mb-3">
        {% for product in products %}	
		<div class="col mb-4">
			<form action="{% url 'cart_add' product.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
			  <!-- Card -->
			  <div class="card card-bordered shadow-none text-center h-100">
				
				<div class="card-pinned">
					<a class="link-sm link-secondary" href="{% url 'product_detail' product.pk %}">
						<img class="card-img-top" src="{{product.product_img.url}}" alt="Image Description">
					</a>
					
				</div>

				<div class="card-body">
					<div class="mb-1">
												<a class="link-sm link-secondary" href="#category">{{product.category}}</a>
					</div>
					<a class="text-dark" href="product-overview.php?product=204">{{product.product_name}}</a>
						<p class="card-text text-body">{{product.quantity_label}}</p>
            <p class="card-text text-body">${{product.price}}</p>
				</div>
				<input type="hidden" id="productid" name="productid" value="204">
				<div class="card-footer pt-0">
				  <button type="submit" name="AddToCart" class="btn btn-outline-primary btn-sm rounded-pill">Add to cart</button>
				</div>
			  </div>
			  <!-- End Card -->
			</form>
		</div>
    {% endfor %}
		<!-- End Col -->
				
		
		<!-- End Col -->
		      </div>
      <!-- End Row -->

      <div class="text-center">
        <a class="btn btn-outline-primary btn-transition rounded-pill" href="product.php">View More products</a>
      </div>
    </div>
    <!-- End Card Grid -->

    

    <!-- Clients -->
    <div class="container content-space-2 content-space-lg-3">
		<!-- Swiper Slider -->
		<div class="js-swiper-autoplay swiper">
			<div class="swiper-wrapper">
									<div class="swiper-slide">
						<img class="avatar avatar-lg avatar-4x3" src="{% static 'uploads/almarai.png' %}" alt="Logo">
					</div>
					<!-- End Slide 
		
		<div class="col text-center py-3">
          <img class="avatar avatar-lg avatar-4x3" src="uploads/almarai.png" alt="Logo">
        </div>
        <!-- End Col -->

								<div class="swiper-slide">
						<img class="avatar avatar-lg avatar-4x3" src="{% static 'uploads/ewa.png' %}" alt="Logo">
					</div>
					<!-- End Slide 
		
		<div class="col text-center py-3">
          <img class="avatar avatar-lg avatar-4x3" src="uploads/ewa.png" alt="Logo">
        </div>
        <!-- End Col -->

								<div class="swiper-slide">
						<img class="avatar avatar-lg avatar-4x3" src="{% static 'uploads/balexco.png' %}" alt="Logo">
					</div>
					<!-- End Slide 
		
		<div class="col text-center py-3">
          <img class="avatar avatar-lg avatar-4x3" src="uploads/balexco.png" alt="Logo">
        </div>
        <!-- End Col -->

								<div class="swiper-slide">
						<img class="avatar avatar-lg avatar-4x3" src="{% static 'uploads/ithmar.png' %}" alt="Logo">
					</div>
					<!-- End Slide 
		
		<div class="col text-center py-3">
          <img class="avatar avatar-lg avatar-4x3" src="uploads/ithmar.png" alt="Logo">
        </div>
        <!-- End Col -->

								<div class="swiper-slide">
						<img class="avatar avatar-lg avatar-4x3" src="uploads/khooheji.png" alt="Logo">
					</div>
					<!-- End Slide 
		
		<div class="col text-center py-3">
          <img class="avatar avatar-lg avatar-4x3" src="uploads/khooheji.png" alt="Logo">
        </div>
        <!-- End Col -->

								<div class="swiper-slide">
						<img class="avatar avatar-lg avatar-4x3" src="uploads/rb.png" alt="Logo">
					</div>
					<!-- End Slide 
		
		<div class="col text-center py-3">
          <img class="avatar avatar-lg avatar-4x3" src="uploads/rb.png" alt="Logo">
        </div>
        <!-- End Col -->

								<div class="swiper-slide">
						<img class="avatar avatar-lg avatar-4x3" src="uploads/eg.png" alt="Logo">
					</div>
					<!-- End Slide 
		
		<div class="col text-center py-3">
          <img class="avatar avatar-lg avatar-4x3" src="uploads/eg.png" alt="Logo">
        </div>
        <!-- End Col -->

						</div>
			<!-- End Row -->
		</div>
    </div>
    <!-- End Clients -->
  </main>
{% endblock %}