{% extends 'base.html' %}
{% load static %}
{% block content%}
<form action="" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div class="card border border- mt-4 mb-4 bg-light p-2">
        <div class="text-center">
            <h2 class="mt-4 text-success">Sign Up</h2>
            <div class="mt-4">{{form.username}}</div>
            <div class="mt-4">{{form.first_name}}</div>
            <div class="mt-4">{{form.last_name}}</div>
            <div class="mt-4">{{form.email}}</div>
            <div class="mt-4 mb-4">{{form.password}}</div>
            
            <div class="mt-4 mb-4"><button class="btn-sm btn-success fw-bold">Signup</button></div>
        </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</form>
{% endblock %}